html{
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding:0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.backgroundImage{
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: contain;
  z-index: -1;
  overflow-x: hidden;
}

.mainBody {
  display:flex;
  flex-direction: row;
  margin: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.container{
  border-radius: 0.5rem;
  background-color: white ;
}

.myArticle{
  width: 80%;
  padding: 0.8rem;
  margin: 0 0.75rem 0 0;
}

.sidebar{
  width:20%;
  padding: 0.8rem;
  margin: 0 0 0 0.75rem;
}

ul {
  list-style-type: ">>";
  padding-left: 1rem;
}

a{
  text-decoration: none;
  color: rgb(13, 15, 81);
}

a:focus{
  color: rgb(31, 30, 37);
  font-style: italic;
}

.titleBox{
  background-color: #e4f0ffe3 ;
  border-radius: 0.5rem;
  margin: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.titleBox h1 {
  font-size: 4rem;
  margin:0.5rem;
}
.titleBox h3 {
  font-style: italic;
  margin: 0.5rem;
}

footer{
  background-color: black;
  color: white;
  margin-top: auto;
  text-align: center;
  padding: 0.8rem;
}

.GitHubLogo{
  height: 1rem;
}

footer p{
  display: inline;
}

@media (max-width: 650px ){
  .mainBody{
    flex-direction: column;
    align-items: center;
  }

  .myArticle{
    width: 100%;
    padding: 0.8rem;
    margin: 0 0 0.75rem 0;
  }
  
  .sidebar{
    width: 100%;
    padding: 0.8rem;
    margin: 0.75rem 0 0 0;
  }
}
